@import 'reset';
$header-height: 48px;
body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    max-width: 1280px;
    height: $header-height;
    margin: 0 auto;
    color: #2F2F2F;
    font-size: 15px;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}
.header_left_wrapper {
}
.header-logo {
    width: 108px;
    height: 23px;
    line-height: $header-height;
    margin-top: -5px;
    margin-right: 20px;
    vertical-align: middle;
    background: url('img/microsoft.png') top left / contain no-repeat;
    display: inline-block;
}
.header-menu {
    display: inline-block;
    background-color: white;
    li {
        display: inline-block;
        height: $header-height;
        line-height: $header-height;
        padding: 0 20px;
        transition: background-color 0.5s ease-out;
        cursor: default;
        position: relative;
    }
    li:hover {
        background-color: rgba(0, 0, 0, 0.05);
        transition: background-color 0.01s ease-out;
    }
    .has-children::after {
        content: "";
        border-bottom: 1px solid #2F2F2F;
        border-right: 1px solid #2F2F2F;
        width: 3px;
        height: 3px;
        transform: rotate(45deg);
        position: absolute;
        right: 10px;
        top: 20px;
    }
}

.header-menu-sublist {
    transform: rotate(0deg);
    background-color: #f3f3f3;
    display: none;
    width: 240px;
    left: 0;
    position: absolute;
    a {
        display: block;
    }
    li {
        display: block;
        &.has-children::after {
            transform: rotate(-45deg);
            right: 20px;
        }
    }
    .header-menu-sublist {
        left: 240px;
        top: 0;
        position: fixed;
        background-color: #e8e8e8;
    }
}
.header-search {
    border: 1px solid #a9a9a9;
    display: inline-block;
    padding: 0 0 0 10px;
}
.header-search-input {
    width: 240px;
    height: 30px;
    border: none;
    padding: 0;
    font-size: 15px;
    outline: none;
}
.header-search-submit {
    margin: 0;
    padding: 0 10px 0 0;
    height: 36px;
    border: none;
}
.header-cart {
    margin: 0 20px;
    height: 15px;
    width: 19px;
    background: url('img/cart.png') top left / contain no-repeat;
    display: inline-block;
}
.header-sign-in {
    font-size: 13px;
}