/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000; }

button {
  background-color: transparent; }

body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; }

strong {
  font-weight: bold; }

.header {
  max-width: 1280px;
  height: 48px;
  margin: 0 auto;
  color: #2F2F2F;
  font-size: 15px; }
  .header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }

.header-logo {
  width: 108px;
  height: 23px;
  line-height: 48px;
  margin-top: -5px;
  margin-right: 20px;
  vertical-align: middle;
  background: url("img/microsoft.png") top left/contain no-repeat;
  display: inline-block; }

.header-menu {
  display: inline-block;
  background-color: white; }
  .header-menu li {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    transition: background-color 0.5s ease-out;
    cursor: default;
    position: relative; }
  .header-menu li:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.01s ease-out; }
  .header-menu .has-children::after {
    content: "";
    border-bottom: 1px solid #2F2F2F;
    border-right: 1px solid #2F2F2F;
    width: 3px;
    height: 3px;
    transform: rotate(45deg);
    position: absolute;
    right: 10px;
    top: 20px; }

.header-menu-toggle {
  display: none; }

.header-menu-sublist {
  transform: rotate(0deg);
  background-color: #f3f3f3;
  display: none;
  width: 240px;
  left: 0;
  position: absolute; }
  .header-menu-sublist a {
    display: block; }
  .header-menu-sublist li {
    display: block; }
    .header-menu-sublist li.has-children::after {
      transform: rotate(-45deg);
      right: 20px; }
  .header-menu-sublist .header-menu-sublist {
    left: 240px;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: #e8e8e8; }

.header-search {
  border: 1px solid #a9a9a9;
  display: inline-block;
  padding: 0 0 0 10px; }

.header-search-input {
  width: 240px;
  height: 30px;
  border: none;
  padding: 0;
  font-size: 15px;
  outline: none; }

.header-search-submit {
  margin: 0;
  padding: 0 10px 0 0;
  height: 36px;
  border: none; }

.header-cart {
  margin: 0 20px;
  height: 15px;
  width: 19px;
  background: url("img/cart.png") left top/contain no-repeat;
  display: inline-block; }

.header-sign-in {
  font-size: 13px; }

.hero {
  color: #47525d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  width: 100%;
  height: 700px;
  background: url("img/hands.jpg") right -200px center/contain no-repeat;
  background-color: #f7f7f7; }
  .hero h1 {
    font-size: 40px;
    line-height: 1.3;
    padding: 140px 0 20px 0; }
  .hero h1, .hero p {
    width: 440px; }
  .hero p {
    line-height: 1.5; }

.hero-text-wrapper {
  max-width: 990px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box; }

.hero-button {
  padding: 20px 30px;
  border-radius: 6px;
  background-color: #0071e0;
  color: #ffffff;
  font-weight: normal;
  display: inline-block;
  margin: 40px 0 20px; }
  .hero-button:hover {
    background-color: #47a4ff; }

.hero-purchase {
  font-size: 16px;
  font-weight: normal; }
  .hero-purchase a {
    color: #0071e0;
    text-decoration: underline; }

.subscribe {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 100%;
  background-color: #323a45;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  padding: 160px 0 145px; }
  .subscribe h1 {
    margin-bottom: 80px; }
  .subscribe small {
    font-size: 12px;
    color: #747c83; }

.subscribe-form {
  max-width: 1320px;
  margin: 0 auto 30px; }
  .subscribe-form input, .subscribe-form button {
    width: 280px;
    height: 63px;
    border-radius: 5px;
    border: none;
    margin: 3px;
    padding: 0 10px;
    box-sizing: border-box; }
  .subscribe-form input {
    font-size: 18px; }
  .subscribe-form button {
    background-color: #ff3366;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 15px;
    transition: background-color 0.3s ease-out; }
    .subscribe-form button:hover {
      background-color: #ff1a53; }

.special-offers {
  width: 100%; }
  .special-offers li:nth-of-type(1) .special-offers-bg-image {
    background-image: url("img/eve-valkyrie.jpg"); }
  .special-offers li:nth-of-type(2) .special-offers-bg-image {
    background-image: url("img/luckys-tale.jpg"); }
  .special-offers li:nth-of-type(3) .special-offers-bg-image {
    background-image: url("img/oc3-stage-image.jpg"); }

.special-offers-bg-image {
  background-size: cover;
  background-position: center center;
  opacity: 0.3;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*hack to prevent fickering of text on transform scale*/
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; }

a:hover .special-offers-bg-image {
  transform: scale(1.1);
  opacity: 0.8; }

.special-offers-item {
  background-color: #282828;
  display: inline-block;
  width: 33.3333%;
  height: 300px;
  position: relative;
  overflow: hidden; }
  .special-offers-item a {
    height: 100%;
    width: 100%;
    display: inline-block; }
  .special-offers-item h1, .special-offers-item h2 {
    text-align: center; }
  .special-offers-item h1 {
    color: #ffffff;
    font-size: 26px;
    margin-top: 12px; }
  .special-offers-item h2 {
    text-transform: uppercase;
    color: #a4a5a6;
    font-size: 15px; }
  .special-offers-item:hover {
    background-size: 120%;
    transition: all 0.3s; }

.special-offers-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.footer {
  width: 100%;
  font-size: 12px;
  color: #666666;
  background-color: #f2f2f2; }

.footer-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px 0; }

.footer-menu-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 240px; }
  .footer-menu-wrapper a {
    color: #666666; }
  .footer-menu-wrapper h1 {
    font-weight: bold;
    margin-bottom: 6px; }
  .footer-menu-wrapper li {
    margin: 6px 0; }
  .footer-menu-wrapper section {
    margin-bottom: 20px; }

.footer-links-business {
  flex-basis: 60%; }

.footer-text {
  padding: 10px 0;
  border-bottom: 1px solid #cccccc; }
  .footer-text a {
    color: #0070c9; }

.footer-secondary-wrapper {
  padding-top: 10px; }
  .footer-secondary-wrapper a {
    color: #666666; }

.footer-secondary-links {
  display: inline-block;
  margin-left: 20px; }
  .footer-secondary-links li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #cccccc; }
  .footer-secondary-links li:last-of-type {
    border: none; }

.footer-language-select {
  float: right;
  position: relative; }
  .footer-language-select::before {
    content: url("img/us.png");
    position: absolute;
    left: -20px;
    top: -2px; }

@media (max-width: 1024px) {
  .hero {
    height: 600px;
    font-size: 18px;
    background-position: right -300px center; }
    .hero h1 {
      font-size: 32px; } }
@media (max-width: 880px) {
  .hero {
    height: 400px;
    font-size: 16px;
    background-size: cover; }
    .hero h1 {
      font-size: 24px;
      padding: 20px 0; }
    .hero h1, .hero p {
      width: 300px; }
    .hero .hero-purchase {
      font-size: 13px; }

  .header-menu, .header-search {
    display: none; }

  .header-menu-toggle {
    height: 28px;
    width: 32px;
    background: url("img/menu-toggle.png") no-repeat;
    display: inline-block;
    margin-bottom: -6px;
    cursor: pointer; }

  .header-cart {
    margin: 0 5px; }

  .header-menu {
    position: absolute;
    top: 40px;
    right: 0;
    height: 100%;
    width: 70%; }
    .header-menu li {
      display: block; }

  .header-menu-sublist {
    position: static; } }
@media (max-width: 700px) {
  .special-offers-item {
    width: 100%; }

  .header-menu {
    width: 100%; }

  .footer {
    font-size: 16px; }

  .footer-menu-wrapper {
    height: 100%; }
    .footer-menu-wrapper section {
      width: 100%;
      margin: 0; }
    .footer-menu-wrapper h1 {
      cursor: pointer;
      padding: 10px; }
    .footer-menu-wrapper ul {
      display: none;
      padding: 0 10px; } }

/*# sourceMappingURL=styles.css.map */
